<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>PLAYLIST</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">
                <img src="/img/logoblue.png" alt="Logo blue">
            </a></li>
            <li><a href="/admin">
                <i class="bi bi-gear"></i>
            </a></li>
        </ul>
    </nav>

    <section id="player">
        <h1>My Favorite Playlist</h1>

        <div class="content">
            <div>
                <img id="currentImg" src="/img/musicoff.jpg" alt="">
    
                <h2 id="currentName">Title</h2>
                <p id="currentArtist">Artist</p>
            </div>

            <table>
                <thead>
                    <th></th>
                    <th>Name</th>
                    <th>Artist</th>
                    <th></th>
                </thead>

                <tbody>
                    <% playlist.forEach((music)=> { %>
                        <tr class="musics">
                            <td>
                                <img src="<%= music.linkImage %>" alt="Image of music">
                            </td>

                            <td><%= music.name %></td>
                
                            <td><%= music.author %></td>
                
                            <td>
                                <audio src="<%= music.linkMusic %>" controls></audio>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </section>

    <div id="controls">
        <i id="prev-control" class="bi bi-skip-start-fill"></i>
        <i id="play-control" class="bi bi-play-fill"></i>
        <i id="next-control" class="bi bi-skip-end-fill"></i>

        <span id="current-duration">00:00</span>
        <input type="range" id="progressbar" min="0" max="0" step="1">
        <span id="total-duration">00:00</span>

        <i id="vol-icon" class="bi bi-volume-up-fill"></i>
        <input type="range" id="volume" min="0" max="100" step="1">
    </div>

    <script src="/script.js"></script>
</body>
</html>